.p-0{
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
.p-1{
	padding-top:1rem;
	padding-right:1rem;
	padding-bottom:1rem;
	padding-left:1rem;
}
.p-2{
	padding-top:2rem;
	padding-right:2rem;
	padding-bottom:2rem;
	padding-left:2rem;
}

.pt-0{
	padding-top:0;
}
.hidden{
	opacity:0;
}