.p-0{
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
.p-1{
	padding-top:1rem;
	padding-right:1rem;
	padding-bottom:1rem;
	padding-left:1rem;
}
.p-2{
	padding-top:2rem;
	padding-right:2rem;
	padding-bottom:2rem;
	padding-left:2rem;
}

.pt-0{
	padding-top:0;
}
.hidden{
	opacity:0;
}
.google-visualization-orgchart-node {
	border:0px solid red; 

}
.noBorder{
	border:0px;
}
.google-visualization-orgchart-table{
	color:$secondary;
}
.google-visualization-orgchart-linebottom {
    border-bottom: 1px solid $primary;
}
.google-visualization-orgchart-noderow-medium td{
	border:0px;	
}
.google-visualization-orgchart-node .google-visualization-orgchart-node-medium {
    text-align: center;
    vertical-align: middle;
    cursor: default;
    border: 2px solid $primary;
    -moz-border-radius: $borderRadius;
    -webkit-border-radius: $borderRadius;
    // -webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
    // -moz-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
    background-color: $primary;
    // background: -webkit-gradient(linear, left top, left bottom, from(#edf7ff), to(#cde7ee));
}