$primary : #335; //dark blue
$primaryLight : lighten( $primary, 5%);
$primaryVeryLight : lighten( $primary, 15%);
$primaryDarken : darken( $primary, 5%);
$primaryVeryDarken : darken( $primary, 15%);

$secondary : #eee; //silver mercedes
$secondaryDarken : darken( $secondary, 10%);

$tertiary : #55a ; //blue clear

$success : #29d251 ; //green
$info : #287dd1 ; //blue clearer that tertiary
$warning : #d1bd28 ; //yellow
$danger : #d32a2a ; //red


.success{
	color : #29d251 ; //green
}
.info{
	color : #287dd1 ; //blue clearer that tertiary
}
.warning{
	color : #d1bd28 ; //yellow
}
.danger {
	color: #d32a2a ; //red
}
.purple {
	color: #d1288c ; //purple
}

