/*
 * Main content
 */
body{
  background-color:$primary;
  color:$secondary;
}
.form-control{
  background-color: $primary;
}

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
.row{
	margin-left: 0px;
   	margin-right: 0px; 
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.halfwide{
  width:49%;
}
.d-inline-block{
  display: inline-block;
}
.welcome-page{  
  background-image: linear-gradient(to bottom, #e76 0%, $primary 100%), url('/img/welcome.jpg');
  background-blend-mode:color;
  //background-image:url('/img/welcome.jpg');
  background-size: cover;

  & > div:first-child{
    display: table;
    position: absolute;
    height: 100%;
    width: 50%;
  }
  & > div:nth-child(2){
    background-color: rgba($primary,0.9);
  }
  &-logo{
    width: 120px;
    height: auto;
  }
  
}
.title{
  display: table-cell;
  vertical-align: middle;
  color:$secondary;
  text-align: center;
  title &{
    display: table;
    position: absolute;
    height: 100%;
    width: 50%;
  }
}

.panel-default-welcome{
  color:$secondary;
  margin-bottom: 22px;
  background-color: rgba( $primary, 0);
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.clearfix{
  &:after{
    content:'';
    clear: both;
  }
}
.informationBubble{
  position: absolute;
  top: 0;
  right: 20px;
  cursor: help;

  animation-name: arriveFromRight;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.informationBubble:hover:after{
  padding: 1em;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 10;
  width: 230px;
  color: $primary;
  
  

  -webkit-border-radius: 20px;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius: 20px;
  -moz-border-radius-topright: 0;
  border-radius: 20px;
  border-top-right-radius: 0;

  background-color:$secondary;
  animation-name: cartoonBubbleTR;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
#bubbleTasksIndex:hover:after{
  content: "The first group indicates the tasks that need to be done, the second the tasks already finished.";
}
#bubbleCalendarIndex:hover:after{
  content: "Use the arrows to scroll through the months.
  Bring the cursor over the events to show the participants.";
}
#bubbleCalendarCreate:hover:after{
  content: "Use the left side to add the event details and the right side to add the participants";
}
#bubbleEventEndCreate:hover:after{
  content: "Indicate the last date of the event, In case of repeated events each event will have the same duration";
}
#bubbleHolidayIndex:hover:after{
  content: "Use the arrows to scroll through the months. The \000021  symbols indicate pending requests";
}
