/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
.row{
	margin-left: 0px;
   	margin-right: 0px; 
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.halfwide{
  width:49%;
}
.d-inline-block{
  display: inline-block;
}
.welcome-page{
  & > div:nth-child(2){
    background-color: #46f;
  }
}

.panel-default{
    margin-bottom: 22px;
    background-color: rgba( $primary, 0.5);
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}