/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
.row{
	margin-left: 0px;
   	margin-right: 0px; 
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.halfwide{
  width:49%;
}
.d-inline-block{
  display: inline-block;
}
.welcome-page{  
  background-image: linear-gradient(to bottom, #e76 0%, $primary 100%), url('/img/welcome.jpg');
  background-blend-mode:color;
  //background-image:url('/img/welcome.jpg');
  background-size: cover;

  & > div:first-child{
    display: table;
    position: absolute;
    height: 100%;
    width: 50%;
  }
  & > div:nth-child(2){
    background-color: rgba($primary,0.9);
  }
  &-logo{
    width: 120px;
    height: auto;
  }
  
}
.title{
  display: table-cell;
  vertical-align: middle;
  color:$soft_grey;
  text-align: center;
  title &{
    display: table;
    position: absolute;
    height: 100%;
    width: 50%;
  }
}

.panel-default-welcome{
  color:$soft_grey;
  margin-bottom: 22px;
  background-color: rgba( $primary, 0);
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.clearfix{
  &:after{
    content:'';
    clear: both;
  }
}
