.navbar-fixed-top {
  border: 0;
}
.navbar {
    border-radius: 0;
    background-color: $tertiary;
	color: $secondary;
	.nav-brand {
		img{
			padding: 10px;
	    	height: 50px;
	    	display:  inline-block;
		}
		a{
			display:  inline-block;
			font-size: 1.4em;
    		vertical-align: sub;
    		color : $secondary;
    		text-decoration: none;
    		cursor : pointer;
		}
	}
	.form-control{
		background-color: $tertiary;
	}
}
.navbar-inverse .navbar-brand {
	color: $secondary;
}
.navbar-inverse .navbar-nav > li > a {
	color: $secondary;
}
.navbar-header{
	width : 100% ;
	padding-right : 2em ;
	.date{
		line-height: 45px;
	}
}
.notification-circle{
	z-index: 10;
    position: absolute;
    bottom: 4px;
    right: 0;
    background-color: red;
    border-radius: 50%;
    padding: 0px 7px;
    
    animation-name: bounceIn;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}

