/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
.navbar {
    border-radius: 0;
    background-color: $tertiary;
	color: $secondary;

	.nav-brand {
		img{
			padding: 10px;
	    	height: 50px;
	    	display:  inline-block;
		}
		a{
			display:  inline-block;
			font-size: 1.4em;
    		vertical-align: sub;
    		color : $secondary;
    		text-decoration: none;
    		cursor : pointer;
		}

	}
}
.navbar-inverse .navbar-brand {
	color: $secondary;
}
.navbar-inverse .navbar-nav > li > a {
	color: $secondary;
}
.navbar-header{
	width : 100% ;
	padding-right : 2em ;
	.date{
		line-height: 45px;
	}
}
