/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  overflow: scroll;
  height:100vh;  
  .nav > li > a{
    padding: 2px 15px;
    @media (min-width: 768px) {
      padding: 10px 15px;
    }
  }

}
@media (min-width: 768px) {
  .sidebar {
    display: inline-block;
    line-height: 0.5em;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: $tertiary;
    color: $primary ;
    a{
      color: $primary ;
    }
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin : 1em -21px 1em -20px; /*  right 20px padding + 1px border */
  border-bottom : 1px solid $primaryVeryDarken;
  & > li{
    & > a{
      padding-right: 20px;
      padding-left: 20px;  
      &:hover:not(#noHover){
        background-color: $secondary;
      }  
    }
  }
  & i{
    margin-right: 0.5em;
  }
   
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: $primaryVeryDarken;
}

#noHover:hover{
    background: none;
  } 