.table-striped { 
	& > tbody{ 
		& > td{
			border-top: 1px solid red;
		}
		& > tr:nth-of-type(odd) {
			background-color:$primaryLight;
		}
	}
}	


.table {
	& > tbody {
		& > tr {
			& > td{
				border-top:0;
			}
			& > td:nth-child(2){
				text-align: right;
			}	
		}
	}
}