

input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.form-control{
	color : $secondary;
	display: block;
    width: 100%;
    background-color: $primary;
    background-image: none;
    border:0;
    border-bottom: 1px solid #ccd0d2;
    border-radius: $borderRadius;
    box-shadow: none;
    -webkit-transition: box-shadow 0.3s; /* Safari */
    transition: box-shadow 0.3s;
    
}
.form-control:focus {
    border-color: none;
    border:0;
    outline: 0;
    -webkit-box-shadow: 0px 3px 10px 1px rgba(255, 255, 255, 0.80);
	-moz-box-shadow: 0px 3px 10px 1px rgba(255, 255, 255, 0.80);
	box-shadow: 0px 3px 10px 1px rgba(255, 255, 255, 0.80);
    
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: transparent;
    opacity: 0.5;
}
.form-control[disabled]:focus, .form-control[readonly]:focus, fieldset[disabled]:focus .form-control {
    outline: none;
    box-shadow: none;
}

.panel{
	color : $secondary;
}
.panel-body {
 	color : $secondary;
}
.panel-auth .panel-body{
  color : $primary;
}
.welcome-page input{
    background-color: transparent;
}

#eventLenghtDiv, #repeatToDiv{
    display:none;
}
.Bubble:hover:after{
  padding: 1em;
  position: absolute;
  
  z-index: 10;
  width: 230px;
  color: $primary;
  
  

  -webkit-border-radius: 20px;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius: 20px;
  -moz-border-radius-topleft: 0;
  border-radius: 20px;
  border-top-left-radius: 0;

  background-color:$secondary;
  animation-name: cartoonBubbleTL;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}