.fc-unthemed .fc-today {
  	background: $primaryVeryLight;
}
.fc-event {
    border-radius: 0;
    border: 0px solid #3a87ad;
    padding: 1em;

}
.fc-unthemed td, .fc-unthemed th{
	border:5px solid $primary;
	background: $primaryLight;

}
 .fc-unthemed th{
 	border-left:0px;
 	border-right:0px;
	background: $primaryVeryLight;
 }
.fc-state-default{
	font-size:5em;
	box-shadow:none;
	text-shadow:none;
	border-color: $primary;
    color: $primary;
    background-image:none;
	background: $primaryVeryLight;
}
.fc-state-disabled{
	background: $primaryLight;	
}
.fc button{
	padding:0 2em;
	outline: none;
}
a[title]:hover:after {
	content: attr(title);
	padding: 1em;
	color: #333;
	position: absolute;
	left: 10%;
	top: 66%;
	z-index: 50;
	white-space: nowrap;

	-webkit-border-radius: 100px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 100px;
	-moz-border-radius-topleft: 0;
	border-radius: 100px;
	border-top-left-radius: 0;

	background-color:$secondary;
	animation-name: cartoonBubbleTL;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}